.loader {
  transform: translateZ(1px);
  text-align: center;
  display: block;
}
.loader:after {
  content: "♞";
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  text-align: center;
  line-height: 110px;
  font-size: 183px;
  font-weight: bold;
  background: #769656;
  color: #f8f9fa;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  animation: coin-flip 4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes coin-flip {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
.loader-bar{
  margin-top: 15px;
  display: block;
  position: relative;
  height: 25px;
  width: 300px;
  background: #f8f9fa;
  overflow: hidden;
}
.loader-bar:after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: #769656;
  animation: 3s prog ease-in infinite;
}
@keyframes prog {
  to  { width: 100%;}
}
